.search-results-container{
    position: relative;
    display: flex;
    width: 100%;
}

.search-results{
    position: absolute;
    text-align: left;
    width: 100%;
}

.search-result{
    border: black solid 1px;
    border-top: 0;
    font-weight: 400;
    padding: 1vw;
    background-color: white;
}

.search-result:hover{
    background-color: aliceblue;
    cursor: pointer;
}