.input-container{
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}

.input-container .form-input:not(.generic-input){
  flex-grow: 1;
  margin-left: 2%;
  font-size: 2vw;
  flex-basis: 70%;
}

.generic-input{
  margin-block-end: 1vh;
}

[role=option].form-input{
  margin-left: 2%;
  font-size: 2vw;
}


.input-container .form-label{
  flex-basis: 30%;
  text-align: left;
  font-weight: 300;
  font-size: 2vw;
  flex-shrink: 0;
}

.form-error{
  text-align: end;
  width: 100%;
  color: #C41C1C;
  font-size: 1.5vw;
}

fieldset{
  margin-top: 5%;
}

@media screen and (max-width: 576px) {
  
  .input-container .form-label{
    font-size: 10px;
  }

  .input-container .form-input{
    font-size: 10px;
  }
}