.page-container{
  width: 70%;
  margin-inline: auto;
  margin-top: 2%;
}

.step-content {
  margin-top: 2%;
}

.step-heading{
    font-size: 2vw;
}

.step-indicator{
    min-width: 3vw;
    min-height: 3vw;
    margin-right: 1vw;
}

.stepper-buttons{
    width: 100%;
}

@media screen and (max-width: 576px) {
    .step-heading{
        font-size: 10px;
    }

    .step-indicator{
        width: 10px;
        height: 10px;
    }
}