.page-container{
    padding-top: 2%;
}

.page-content{
  width: 90%;
  margin-inline: auto;
}

.step-heading{
    background-color: rgba(0,0,0,0.42);
    font-size: 2vw;
}

.step-indicator{
    min-width: 3vw;
    min-height: 3vw;
    margin-right: 1vw;
}

.stepper-buttons{
    width: 100%;
    display: flex;
    align-items: stretch;
}

@media screen and (max-width: 576px) {
    .step-heading{
        font-size: 10px;
    }

    .step-indicator{
        width: 10px;
        height: 10px;
    }
}